:root {
  --primary-color: white;
  --secode-bg-color: #ed09de;
}
* {
}
body {
  margin: 0;
  padding: 0;
}
.hero-div {
  background-image: url("resource/Object.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color);
  /* height: 500px; */
  /* width: auto; */
  /* padding: 0; */
  /* margin: 0; */
  /* width: 100%; */
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* gap: 20px; */
}
.nav-ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.nav-ul li a {
  color: var(--primary-color);
}
.hero-text {
  /* text-align: center; */
  /* margin: 0 auto; */
}
.container_1 {
  text-align: center;
}
.central-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
  /* text-align: center; */
  /* margin: auto 0; */
}
.button {
  color: white;
  background-color: var(--secode-bg-color);
  border-radius: 5px;
}
.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
